* {
  box-sizing: border-box;
}

@font-face {
  font-family:'SanFranciscoText-Regular';
  src: local('SanFranciscoText-Regular'), url(./fonts/SanFranciscoText-Regular.otf) format('truetype');
}

@font-face {
  font-family:'SanFranciscoText-Semibold';
  src: local('SanFranciscoText-Semibold'), url(./fonts/SanFranciscoText-Semibold.otf) format('truetype');
}

@font-face {
  font-family:'Unisect-Black';
  src: local('Unisect-Black'), url(./fonts/Unisect-Black.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
